<!-- home.page.html -->

<ion-header>
  <ion-toolbar>
    <ion-title>
      Bienvenido a Mi Aplicación Ionic
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>
    ¡Bienvenido! Estás a punto de sumergirte en las fascinantes capacidades de nuestra aplicación Ionic. Descubre las increíbles características y funcionalidades que hemos preparado para proporcionarte una experiencia excepcional.
  </p>

  <p>
    Explora cada rincón de nuestra aplicación y prepárate para una experiencia única. ¿Listo para iniciar tu viaje? No olvides visitar la sección "Intro" para conocer las ventajas emocionantes que Ionic tiene para ofrecer.
  </p>
</ion-content>



<ion-footer>
  <ion-toolbar>
    <ion-button expand="full" routerLink="/intro">
      Intro
    </ion-button>
  </ion-toolbar>
</ion-footer>
